.wrapper{
  padding: .3rem;
}

.request-card {
    max-width: 14rem;

    &__image {
      object-fit: contain; 
      height: 14rem;
    }
    &__describe{
      height: 2rem;
    }
    &__actions{
      display: flex;
    }
    &__btn{
      flex: 0 0 50%;
    }
    &__info{
      height: 2.5rem;
    }
    &__offers{
      font-weight: 600;
      cursor: pointer;
    }
    &__new-offers{
      font-weight: 600;
    }
    &__best-price{
      font-weight: 600;
    }
    &__index {
     display: flex;
     justify-content: center;
     align-items: center;

     font-weight: 600;

     background-color: rgb(194, 194, 194);
    }

  }
  .accepted{
    background-color: rgb(147, 224, 147);
  }
  

  