<div class="wrapper">
  <mat-card class="request-card"
  [class.accepted] = "userRequest.status === requestStatus[1]">
      <div>
  <mat-card-header>
        <div mat-card-avatar class="request-card__index">{{index}}</div>
        <mat-card-title class="request-card__title">{{userRequest.title}}</mat-card-title>
        <mat-card-subtitle class="request-card__subtitle">{{userRequest.category}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="request-card__image" src="{{userRequest.photos[0]}}" alt="{{userRequest.title}}">
    </div>
    <div>
      <mat-card-content >
        <p class="request-card__describe">
          {{userRequest.description}}
        </p>
        <div class="request-card__info">
          <p class="request-card__offers" 
          [class.request-card__offers_active] ="offersQuantity > 0"
          (click)="openOffers(userRequest.id)">
            Предложений: <span class="request-card__offers">{{offersQuantity ? offersQuantity : 'пока нет'}}</span>
            <i *ngIf = "userRequest.newOffersToRequest">
              Новых: <span class="request-card__new-offers">+{{userRequest.newOffersToRequest}}</span>
            </i>
          </p>
          
          <p *ngIf = "bestPrice">
            Лучшая цена: <span class="request-card__best-price">{{bestPrice}}</span>
          </p>

        </div>
      </mat-card-content>
    </div>
      <mat-card-actions class="request-card__actions">
        <button class="request-card__btn" mat-button (click)="requestService.deleteRequest(userRequest)">Удалить</button>
        <button class="request-card__btn" 
        *ngIf = "userRequest.status===requestStatus[0]"
        [class.disabled]="userRequest.status===requestStatus[1]"
        class="request__btn" mat-stroked-button (click)="changeRequest(userRequest)">
            Изменить
        </button>
        <button class="request-card__btn" 
        *ngIf = "userRequest.status===requestStatus[1]"
        disabled
        class="request__btn" mat-button >
        <span class="material-icons done"> done </span>
        </button>
      </mat-card-actions>
  </mat-card>
</div>

