<h1 mat-dialog-title>Измените нужное вам поле(-я)</h1>
<div class="request-form" mat-dialog-content [formGroup]="requestChangeForm" (ngSubmit)="submitForm()" class="request-form">
    <mat-form-field>
        <mat-label>Изменить название</mat-label>
        <input matInput
        type="text"
            placeholder="Название"
            formControlName="title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Изменить описание</mat-label>
        <textarea matInput
            placeholder="Описание"
            formControlName="description">
        </textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Изменить категорию</mat-label>
        <mat-select formControlName="category">
            <mat-option *ngFor="let category of requestService.categories"[value]= "category">
            {{category}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Выберите город</mat-label>
          <mat-select formControlName="city">
          <mat-option *ngFor="let city of cityList" [value]= "city">
          {{city}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  <mat-checkbox class="example-margin" formControlName="secondHand">можно б/у</mat-checkbox>
    <mat-form-field>
      <ngx-mat-file-input formControlName="requestImage"
        [accept]="'.png,.jpg,.jpeg'"
       placeholder="Выбрать другое фото" ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
      <mat-error *ngIf="requestChangeForm.get('requestImage').hasError('maxContentSize')">
        Размер файла не должен превышать {{requestChangeForm.get('requestImage')?.getError('maxContentSize').maxSize | byteFormat}}
         (Ваш файл {{requestChangeForm.get('requestImage')?.getError('maxContentSize').actualSize
        | byteFormat}}).
      </mat-error>
    </mat-form-field>
  
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Отменить</button>
    <button mat-raised-button mat-dialog-close type="submit" (click)="submitForm()">Принять</button>
  </div>