@import "../../../ui/styles/variables.scss";

.save-changes{
    width: 100%
}
.offer{

    &__refresh{
         font-size: 1em;
    }
    &__navigate{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        padding-bottom: 1.5rem;
    }
    &__filter{
        font-weight: bold;
    }
}
@media screen and (max-width: breakpoint(laptop)) {

 
}