.title{
    font-size: 1rem;
}
.comments{
    display: flex;
    margin-bottom: .6rem;

    &__index{
        align-self: center;
        padding-right: .8rem;

        font-size: 1rem;
        font-weight: bold;
    }
    &__request_title{
        font-weight: 400;
    }
    &__initial{
        font-weight: 600;
        // font-style: italic;
    }
    &__date{
        font-size: .7rem;;
    }
}