.request-form{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.photo{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
.tech-photo{
    width: 600px;
    height: 600px;
    object-fit: cover;
}