:host{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    text-align: center;
}
.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        text-align: center;
        margin: 1.5rem 0;
    }
    &__categories{
        padding: 2rem 0;
        
    }
    &__items{
        display: block;
    }
    .office__panel-header{
            height: 4rem;
        }
    
}