$font-logo: 'Racing Sans One', cursive;

a{
    text-decoration: none;
    color: black;
}
.container{
    width: 80%;
    margin:0 auto;

    .head{
        display: flex;
        justify-content: space-between;

        padding: 2rem 0;

            &__logo{
                font-family: $font-logo;
                font-weight: 500;
                font-size: 1.5rem;
            }

            &__photo{
                width: 2rem;
                height: 2rem;
            }
    }
    .isLoading{
        padding: .6rem 0;
        text-align: center;
    }
}