@import "./ui/styles/variables.scss";

:host{
    font-size: 14px;
}

a{
    text-decoration: none;
    color: black;
}
.preloadbar{
    text-align: center;
    padding-top: 45vh;
}
.container{
    width: 80%;
    margin:0 auto;

    .head{
        position: sticky;
        z-index: 20;

        top: 0;
        display: flex;
        justify-content: space-between;

        padding: 2rem 0;

        background-color: $header-background;
        transition: all .4s;


            &__logo{
                // flex: 1 1 33%;
                font-family: $font-logo;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 35px;
            }
            &__logo-link{
                line-height: 0;
            }
            
            &__menubutton{
                // flex: 1 1 33%;

                font-size: 1.1em;
            }

            &__photo{
                width: 1.5em;
                height: 1.5em;

            
    }
    .isLoading{
        padding: .6rem 0;
        text-align: center;
    }
}
.head_scroll{
    padding: 1rem 0;
    box-shadow: 0 6px 5px -6px rgb(184, 184, 184);
}
}
.load-logo-link{
    font-family: $font-logo;;
    font-weight: 500;
    color: $prime;
}



@media screen and (max-width: breakpoint(desktop)) {
    :host {
        font-size: 120%;
}
}
@media screen and (max-width: breakpoint(laptop)) {
    :host {
        font-size: 100%;
}
}
@media screen and (max-width: breakpoint(tablet)) {
    :host {
        font-size: 90%;
}
    .container{
        width: 90%;
        .head{
            &__logo{
                line-height: 30px;
            &__menubutton{
                // flex: 1 1 33%;

                font-size: 1.2em;
            }
            }
        }
    }
    
}
@media screen and (max-width: breakpoint(tablet-portrait)) {
    :host {
        font-size: 90%;
}

    .head{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: breakpoint(mobile)) {
    :host {
        font-size: 90%;
}
.container{
    width: 90%;
}

}
@media screen and (max-width: breakpoint(mobile-portrait)) {
    :host {
        font-size: 90%;
}
    .container{
        width: 98%;
        .head{
            &__logo{
                line-height: 30px;
            }
            &__toggle {
                flex: 1 0 1;
                // order: 1;
            }   
        
        }
    }
}
