<mat-card 
    class="currentoffer"
    [class.accepted] = "currentOffer.status === accepted"
    [ngClass] = "{rejected: currentOffer.status === rejected}">
    
    <div class="currentoffer__index">{{index}}</div>
    <img class="currentoffer__photo " src="{{currentOffer.photos[0]}}" (click)="openPhoto(currentOffer.photos[0])">

    <div class="currentoffer__head flexbox">
        <span class="currentoffer__title">{{currentOffer.title}}</span>
        <p class="currentoffer__category">{{currentOffer.category}}</p>
        <p *ngIf = "currentOffer.secondHand">б/у</p>
    </div>
    <div class="currentoffer__describe flexbox">
        
        <p>{{currentOffer.description}}</p>
    </div>
    <div class="currentoffer__seller flexbox">
        <p>От: {{currentOffer.fromUserName ? currentOffer.fromUserName : 'нет имени'}}</p>
        <p>{{(currentOffer.fromUserRating)  ? currentOffer.fromUserRating : 'нет оценок'}}</p>
    </div>
 
    <div class="currentoffer__acceptbtn" >
        <button 
        *ngIf="currentOffer.status === offerStatus[0] "
        mat-raised-button
        title="Двойной клик, чтобы принять предложение продавца"
        (dblclick) = "acceptOffer()">
        Принять
    </button>
    <button 
        class="currentoffer__acceptbtn_accepted disabled"
        *ngIf="currentOffer.status === offerStatus[1] "
        mat-stroked-button
        title="Двойной клик, чтобы принять предложение продавца"
        (dblclick) = "acceptOffer()"
        disabled>
        Принято
    </button>
    <button 
        class="currentoffer__acceptbtn_rejected disabled"
        *ngIf="currentOffer.status === offerStatus[2] "
        mat-stroked-button
        title="Двойной клик, чтобы принять предложение продавца"
        (dblclick) = "acceptOffer()"
        disabled>
        Отклонено 
    </button>

    </div>

</mat-card>
 