<mat-card 
    
    [class.accepted] = "currentOffer.status === offerStatus[1] || currentOffer.status === offerStatus[3]"
    [ngClass] = "{rejected: currentOffer.status === offerStatus[2]}">
    <div class="currentoffer">
    <div class="currentoffer__index">{{index}}</div>
    <img class="currentoffer__photo " src="{{currentOffer.photos[0]}}" (click)="openPhoto(currentOffer.photos[0])">

    <div class="currentoffer__head flexbox">
        <span class="currentoffer__title">{{currentOffer.title}}</span>
        <p class="currentoffer__category">{{currentOffer.category}}</p>
        <p *ngIf = "currentOffer.secondHand">б/у</p>
    </div>
    <div class="currentoffer__describe flexbox">
        
        <p>{{currentOffer.description}}</p>
    </div>
    <div class="currentoffer__seller flexbox" (click) = "openComments()">
        <p>От: {{currentOffer.fromUserName ? currentOffer.fromUserName : 'нет имени'}}</p>
        <p [class.currentoffer__seller_active] = "currentOffer.fromUserRating">
            {{currentOffer.fromUserRating?.rating  ? 'Средний балл: ' + currentOffer.fromUserRating.rating : 'нет оценок'}}
            <br />
            <span class="currentoffer__seller_reviews">
                 {{currentOffer.fromUserRating?.rating  ? '(голосов: ' + currentOffer.fromUserRating.ratingQuantity + ')' : ''}}
            </span>
        </p>
    </div>
 
    <div class="currentoffer__acceptbtn" >
        <button 
        *ngIf="currentOffer.status === offerStatus[0] "
        mat-raised-button
        title="Двойной клик, чтобы принять предложение продавца"
        (dblclick) = "acceptOffer()">
        Принять
    </button>
    <button 
        class="currentoffer__acceptbtn_accepted disabled"
        *ngIf="currentOffer.status === offerStatus[1] || currentOffer.status === offerStatus[3]"
        mat-stroked-button
        title="Двойной клик, чтобы принять предложение продавца"
        (dblclick) = "acceptOffer()"
        disabled>
        Принято
    </button>
    <button 
        class="currentoffer__acceptbtn_rejected disabled"
        *ngIf="currentOffer.status === offerStatus[2] "
        mat-stroked-button
        title="Двойной клик, чтобы принять предложение продавца"
        (dblclick) = "acceptOffer()"
        disabled>
        Отклонено 
    </button>

    </div>
 
    </div>
    <mat-accordion *ngIf = "currentOffer.status === offerStatus[1] || currentOffer.status === offerStatus[3]">
        <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                Ваша оценка 
                </mat-panel-title>
                <mat-panel-description>
                    {{currentOffer.status===offerStatus[3] ? 'Изменить оценку' : 'Oцените сделку'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
        <form class="rateForm" [formGroup]="sellerRateForm" (ngSubmit)= "submitSellerRateForm()" >
            <mat-form-field>
                <mat-label>Оценка</mat-label>
                    <mat-select formControlName="rate">
                        <mat-select-trigger>
                            {{sellerRateForm.value?.rate ? sellerRateForm.value.rate.title : ''}} :
                            {{sellerRateForm.value?.rate ? sellerRateForm.value.rate.description : ''}}
                            <mat-icon *ngIf = "sellerRateForm.value.rate" aria-hidden="false">{{sellerRateForm.value.rate.icon}}</mat-icon>
                        </mat-select-trigger>
                    <mat-option *ngFor="let rate of ratesArr" [value]="rate" >
                    {{rate.title}} : {{rate.description}} <mat-icon aria-hidden="false" aria-label="Example home icon">{{rate.icon}}</mat-icon>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field >
                <mat-label>Комментарий</mat-label>
                <textarea matInput formControlName="comment"></textarea>
              </mat-form-field>
              <button 
              type="submit" 
              mat-stroked-button
              [disabled] = "sellerRateForm.value?.rate?.title && initialRate?.title && sellerRateForm.value.rate.title===initialRate.title 
                && sellerRateForm.value?.comment && sellerRateForm.value.comment===initialComment">
              {{currentOffer.status===offerStatus[3] ? 'Изменить' : 'Отправить'}}
            </button>
        </form>
        </mat-expansion-panel>
    </mat-accordion>

</mat-card>
 