@import "../../../../ui/styles/variables.scss";

.currentoffer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .4rem;

    .flexbox{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__index{
        flex: 0 1 5%;
        font-weight: 600;
    }
    
    &__photo{
        flex: 1 1 20%;
        object-fit: contain; 
        max-height: 6rem;
        max-width: 6rem;
        cursor: pointer;
    }  
    &__head{
        flex: 1 1 10%;
        
        padding-left: .6rem;
    }  
    &__title{
        font-weight: bold;
    }
    &__describe{
        flex: 1 0 40%;
        padding-left: .4rem;

    }
    &__category{
        font-style: italic;;
    }
    
    &__seller{
    flex: 0 1 15%;
    padding-left: .4rem;
    }
    &__seller_active{
        color: $link;
        cursor: pointer;
    }

    &__acceptbtn{
        flex: 0 1 10%;
    }
    &__acceptbtn_accepted{
        border: 1px solid $accepted;
    }
    &__acceptbtn_rejected{
        border: 1px solid $rejected;
    }
    .disabled{
        color: $disabled;
    }

    &__title{
        font-weight: bold;
    }
   

}
.rateForm{
    display: flex;
    flex-direction: column;
}
.accepted{
    border: 1px solid $accepted;
}
.rejected{
    border: 1px solid $rejected;
}
@media screen and (max-width: breakpoint(tablet-portrait)) {
    .currentoffer{
        flex-wrap: wrap;
        &__acceptbtn{
            flex: 1 0 100%
        }
    }
}
@media screen and (max-width: breakpoint(mobile)) {
    .currentoffer{
        flex-wrap: wrap;
        &__head{
            flex: 1 0 50%;
        }
        &__describe{
            flex: 1 0 100%;
        }
        &__seller{
            flex: 1 0 100%;
        }
        &__acceptbtn{
            flex: 1 0 100%
        }
        &__acceptbtn_accepted{
            width: 100%;
        }
        &__acceptbtn_disabled{
            width: 100%;
        }
    }
}