.currentoffer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .4rem;

    .flexbox{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__index{
        flex: 0 1 5%;
        font-weight: 600;
    }
    
    &__photo{
        flex: 1 1 20%;
        object-fit: contain; /*this makes de image in src fit to the size of specified below*/
        //width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
        max-height: 6rem;
        max-width: 6rem;
    }  
    &__head{
        flex: 1 1 10%;
        
        padding-left: .6rem;

        font-weight: bold;
    }  
    &__describe{
        flex: 1 1 40%;
        padding-left: .4rem;

    }
    &__category{
        font-style: italic;;
    }
    
    &__seller{
    flex: 0 1 15%;
    padding-left: .4rem;

    }

    &__accept{
        flex: 0 1 10%;

    }

    &__title{
        font-weight: bold;
    }
    

}
.accepted{
    background-color: rgb(126, 212, 126);
}
.rejected{
    background-color: rgb(236, 134, 143);
}