<mat-card class="wrap"
    *ngIf="!isHidden"
    [class.accepted]="offerToRequest && (offerToRequest.status === offerStatus[1] || offerToRequest.status === offerStatus[3])"
    [class.rejected]="offerToRequest && offerToRequest.status === offerStatus[2]">
    <div class = "request">
    
    <div class="request__index">{{index}}</div>
    <img class="request__photo " src="{{request.photos[0]}}" (click)="openPhoto(request.photos[0])">

    <div class="request__describe flexbox">
        <span class="request__title">{{request.title}}</span>
        <p class="request__category">
            {{request.category}}
            <span class="request__secondhand" *ngIf="request.secondHand"> | можно б/у </span>
            <span class="request__secondhand" *ngIf="!request.secondHand"> | только новый </span>
            <span *ngIf="request.city"> | {{request.city}} </span>
        </p>
        <p>{{request.description}}</p>
    </div>
    <div class="request__buyer flexbox">
        <p>от: {{request.fromUserName ? request.fromUserName : 'без имени'}}</p>
        <p>{{request.fromUserRating  ? request.fromUserRating : 'нет оценок'}}</p>
    </div>
    <div class="request__other-offers" *ngIf = "request && request.status === requestStatusEnum[0] && offerToRequest && offerToRequest.status === offerStatus[0]">
        Предложений: {{!offerListForCounter.length ? 'ещё нет' : offerListForCounter.length }}
        {{bestPrice ? bestPrice : ''}}
    </div>
    <div class="request__other-offers" *ngIf = "offerToRequest && (offerToRequest.status === offerStatus[1] || offerToRequest.status === offerStatus[3])">
        <p>Контакты:</p>
        <p>Телефон: {{buyer && buyer.telephone ? buyer.telephone : 'нет'}}</p>
        <p>Адрес: {{buyer && buyer.adress ? buyer.adress : 'не указан'}}</p>

    </div>

    <div class="request__buttons">
    <div class="request__remove btnwrapper" *ngIf="!offerToRequest && !isRequestRejected">
        <button 
            class="request__button"
            mat-stroked-button
            title="Дважды кликнуть, чтобы убрать из списка"
            (dblclick)="rejectRequest()">
            Отклонить
        </button>
    </div>
    <div class="request__remove  btnwrapper" *ngIf="offerToRequest && request && request.status === requestStatusEnum[1]">
        <button 
            class="request__button"
            mat-stroked-button
            title="=Временно недоступно= Дважды кликнуть, чтобы убрать из списка"
            disabled
            (dblclick)="rejectRequest()">
            Убрать
        </button>
    </div>
    <div class="request__accept btnwrapper">
        <button 
            class="request__button"
            mat-raised-button
            title="Сделать предложение"
            (click)="openDialog()"
            *ngIf="!offerToRequest && !isRequestRejected">
            Откликнуться
        </button>
        <button 
            class="request__button"
            mat-button
            title="Сделать предложение"
            *ngIf="offerToRequest && request.status===requestStatusEnum[0] "
            disabled
            class="disabled">
            На рассмотрении
        </button>
        <button 
            class="request__button request__button_accepted disabled"
            mat-stroked-button
            title="Сделать предложение"
            (click)="openDialog()"
            disabled
            *ngIf="offerToRequest && (offerToRequest.status === offerStatus[1] || offerToRequest.status === offerStatus[3])">
            Принято!
        </button>
        <button 
            class="request__button request__button_rejected disabled"
            mat-stroked-button
            title="Сделать предложение"
            (click)="openDialog()"
            disabled
            *ngIf="offerToRequest && request.status===requestStatusEnum[1] && offerToRequest.status === offerStatus[2]">
            Отклонено
        </button>
    </div>
</div>
</div>

<mat-accordion *ngIf = "offerToRequest">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Предложение
        </mat-panel-title>
        <mat-panel-description>
          Посмотреть детали моего предложения
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="offer-info">
        <img class = "offer-info__photo" src="{{offerToRequest.photos[0]}}" title="фото">
        <div class="offer-info__details">
            <p>Описание: {{offerToRequest.description}}</p>
            <p> Цена: {{offerToRequest.price}}</p>
            <p>{{offerToRequest.secondHand ? 'Б/у' : ''}}</p>
        </div>
    </div>
    </mat-expansion-panel>
   
  </mat-accordion>
    
    

</mat-card>



