<mat-card 
    class="request"
    *ngIf="!isHidden">
    
    <div class="request__index">{{index}}</div>
    <img class="request__photo " src="{{request.photos[0]}}">

    <div class="request__describe flexbox">
        <span class="request__title">{{request.title}}</span>
        <p class="request__category">
            {{request.category}} | 
            <span> {{request.secondHand ? 'можно б/у' : ''}}</span>
        </p>
        
        <p>{{request.description}}</p>
    </div>
    <div class="request__buyer flexbox">
        <p>{{buyer ? buyer.userName : 'user'}}</p>
        <p>{{(buyer && buyer.userRating)  ? buyer.userRating : 'нет оценок'}}</p>
    </div>
    <div class="request__other-offers">
        Предложений: {{!request.offers || !request.offers.length ? 'ещё нет' : request.offers.length }}
        {{bestPrice ? bestPrice : ''}}
        sec hand if -//- 
    </div>
    <div class="request__remove">
        <button 
            mat-raised-button
            title="Дважды кликнуть, чтобы убрать из списка"
            (dblclick)="rejectRequest()">
            Отклонить
        </button>
    </div>
    <div class="request__accept">
        <button 
            mat-raised-button
            title="Сделать предложение"
            (click)="openDialog()">
            Откликнуться
        </button>
    </div>

</mat-card>