@import "../../../../ui/styles/variables.scss";
.wrap{
    margin-bottom: .5rem;
}
.request{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .6rem;

    .flexbox{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__index{
        flex: 0 1 5%;
        font-weight: 600;
    }
    
    &__photo{
        flex: 1 0 20%;
        object-fit: contain; 
        max-height: 6rem;
        max-width: 6rem;
        
        cursor: pointer;
    }    
    &__describe{
        flex: 1 0 30%;
        padding-left: .4rem;

    }
    &__category{
        font-style: italic;;
    }

    &__secondhand{
        font-weight: bold;    
    }
    
    &__buyer{
    // flex: 1 0 10%;
        padding-left: .4rem;

    }
    &__other-offers{
        // flex: 1 0 15%;
        padding: 0 .3rem;
    }
    &__buttons{
        display: flex;
        flex-direction: column-reverse;
    }
    &__button{
        font-size: 1em;
        width: 100%;
    }
    &__remove{
        flex: 0 1 10%;

    }
    &__accept{
        flex: 0 1 10%;

    }

    &__title{
        font-weight: bold;
    }

    &__offerPhoto{
        flex: 1 1 20%;
        object-fit: contain; 
        max-height: 6rem;
        max-width: 6rem;
    }
}
.offer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .4rem;

    &__photo{
        flex: 1 1 20%;
        object-fit: contain; 
        max-height: 6rem;
        max-width: 6rem;
    }
    &__details{
        flex: 1 1 80%;
        padding: .5rem;
    }
}
.accepted{
    background-color: rgb(126, 212, 126);
}
.rejected{
    background-color: rgb(236, 134, 143);
}
.btnwrapper{
    font-size: 1em;
    padding: .2em 0;
}

@media screen and (max-width: breakpoint(tablet-portrait)) {
    .request{
        flex-wrap: wrap;
        &__button{
            width: 95%;
        }
    }
    .request__buttons{
        flex-direction: row;
        justify-content: space-between;
        flex: 1 1 100%
    }
    .btnwrapper{
        flex:1 0 50%
        // display: flex;
        // justify-content: space-between;
    }
}