.wrap{
    margin-bottom: .5rem;
}
.request{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .6rem;

    .flexbox{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__index{
        flex: 0 1 5%;
        font-weight: 600;
    }
    
    &__photo{
        flex: 1 1 20%;
        object-fit: contain; /*this makes de image in src fit to the size of specified below*/
        //width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
        max-height: 6rem;
        max-width: 6rem;
    }    
    &__describe{
        flex: 1 1 25%;
        padding-left: .4rem;

    }
    &__category{
        font-style: italic;;
    }
    
    &__buyer{
    flex: 0 1 15%;
    padding-left: .4rem;

    }
    &__other-offers{
        flex: 0 1 15%;
        padding: 0 .3rem;

    }
    &__remove{
        flex: 0 1 10%;

    }
    &__accept{
        flex: 0 1 10%;

    }

    &__title{
        font-weight: bold;
    }

    &__offerPhoto{
        flex: 1 1 20%;
        object-fit: contain; 
        max-height: 6rem;
        max-width: 6rem;
    }
}
.offer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .4rem;

    &__photo{
        flex: 1 1 20%;
        object-fit: contain; 
        max-height: 6rem;
        max-width: 6rem;
    }
    &__details{
        flex: 1 1 80%;
        padding: .5rem;
    }

}